@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #fdb82c;
  --second: #3ab7f7;
  --third: #fa5b5f;
  --bgColor: #2d2d2d;
}

h1,
h2,
h3,
h4,
p {
  color: #ffffff;
}

body {
  position: relative;
  background: var(--bgColor);
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* --------------------------------------------------------------
# sections General 
-------------------------------------------------------------- */

section {
  position: relative;
  padding: 50px 0 60px;
  padding-left: 5%;
  width: 100%;
  min-height: 100vh;
  transform: ease-in-out 1s;
  transform-origin: bottom;
  z-index: 900;
}

section .section-title::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  height: 3px;
  background: linear-gradient(
    90deg,
    transparent,
    var(--primary),
    var(--primary),
    transparent
  );
  z-index: 1000;
}

@media (max-width: 768px) {
  section {
    padding-left: 15%;
  }
}
